azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24 

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?-bgakk3');
	src:url('../fonts/icomoon.eot?#iefix-bgakk3') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-bgakk3') format('woff'),
		url('../fonts/icomoon.ttf?-bgakk3') format('truetype'),
		url('../fonts/icomoon.svg?-bgakk3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


a
	color naranja 

body
	background #E8E8E8
	color gris_oscuro
	font-family arial
	font-size 16px

footer
	background naranja
	color rgba(white,0.5)
	padding 1em 0
	text-align center
	width 100%


	h3
		font-size 14px
		font-weigth normal

		strong
			display block
		.mejor
			&:before
			&:after
				content " - "

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	padding 0.5em
	position relative
	overflow hidden
	text-align left
	z-index 1


	.logo
		border-right 1px solid azul
		float left
		width 60px


		img
			width 52px

	.titular
		margin 0 60px 0 70px

		.filtro
			color azul
			font-weigth bold
			font-style italic
			text-decoration none

		.publicar
			background naranja
			color white
			float right
			font-style italic
			margin -5px 1em 0 0
			padding 0.2em  0.5em 
			text-decoration none
			text-shadow 1px 1px 0px black
			font-family "iconitos"
			&:before
				content "\e600"

		.titulo
			font-size 17px
			font-weigth normal
			margin 0
			padding 0

	.usuario
		position absolute
		right 0
		top 0
		.avatar
			img
				width 50px
				border-radius 50%
				top -5px
				right -10px
				position relative
				z-index 2
		.flechita
			background naranja
			color white
			position absolute
			top 31%
			right 10px
			width 50px
			height 17px
			text-align right
			z-index 1
			
			text-decoration none
			&:before
				font-family "iconitos"
				font-size 1.3em
				content "\e602"
				background naranja
			

nav
	background azul

	height 40px
	position relative
	border-left 15px solid white

	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		position absolute
		top 0
		left 0

	.menu
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap


		li
			display inline-block

			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.1.9em
				text-decoration none

.posts
	padding 0.5em

	.post
		background white
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px rgba(black, 0.5)
		color gris_texto
		margin-bottom 1em

		.acciones
			border-top 3px solid azul
			padding 0.5em
			overflow hidden

			.datos
				float right

				.comentarios
					background gris_texto
					border-radius 3px
					color white
					margin 0 1em 0 0
					padding 2px 5px
					text-decoration none
				.estrella
					font-family "iconitos"
					text-decoration none
					&:before
						content "\e601"


			.votos
				float left

				.Do
				.up
					text-decoration none
					font-size 1.5em

				.Do
					color red
					font-family "iconitos"
					&:before
						content "\e602"
				.up
					color green
					font-family "iconitos"
					&:before
						content "\e603"

		.descripcion
			color gris_texto
			
			.detalles
				height 160px
				margin-left 130px

				.autor
					margin 0.5em 0 2em 0

				.fecha
					color gris_texto
					float right
					margin 0 1em 0 0
					text-decoration none

				.tag
					background azul
					border-radius 0.5em
					color white
					padding 0.2em 0.5em
					text-decoration none

				.titulo
					color gris_oscuro
					font-size 18px
					font-style italic
					margin 0
					padding 0.5em 0.5em 0 0

			.imagen
				float left
				padding 0 
				margin 0
				img
					height 160px
					vertical-align top
					width 120px
@media screen and (min-width: 768px)
	
	header
		.titular
			.publicar
				padding-left 3em
				position relative
				margin  5px 60px 0 0 

				&:before
					left 0
					font-size 2.5em
					position absolute
					top -8px

	.posts
		.post
			display inline-block
			width 48%
			vertical-align top
			/*  obb es impar   even es par*/ 
			&:nth-child(odd)
				margin-right 2%